
body{
padding:0px;
margin:0px;
background-image:url(cloud2.jpg);
background-size:cover;
background-repeat:no-repeat;
background-position: bottom;
}
.center img{
border-radius:40%;
width:90px;
height:90px;
margin-top:5%;
object-fit:cover;
object-postion :0 -8px;
}
.center{
width:70%;
background-color: rgba(0,0,0,0.7);
height: 60vh;
text-align: center;
border-radius:5px;
}
